.App {
  color:  #bebebe;
  background-color: #282c34;
}

.navigation{
    background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(161, 161, 161);
  margin-top: 3%;
  margin-bottom: 5%;
}

.navigation a{
  margin-right: 5%;
}

.navigation a:last-child{
  margin-right: 0;
}

.App-link {
  font-size: 15px;
  color: #3b7bb6;
  text-decoration: none;
}

.App-text {
  font-size: 15px;
  color: rgb(219, 219, 219);
  text-decoration: none;
}

.sidenav{
  height: 100%;  
  width: 25%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 50px; 
  padding-left: 15%; 
  display: flex; 
  flex-direction: column; 
  align-items: right;
  justify-content: right;
}

.sidenav-text {
  text-align: center;
  text-decoration: none;
  align-items: right;
  justify-content: right;
  background: none;
  color: rgb(219, 219, 219);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

.sidenav-right{
  height: 100%;  
  width: 25%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 50px; 
  padding-right: 15%; 
}

.form{
  height: 100%;  
  width: 25%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-self: center;
}

.form-box {
  align-items: center;
  max-width: 60%;
  height: 100vh;
  margin: 0vw;
  padding: 5vw;
}

.form-text {
  justify-content: center;
  color: rgb(219, 219, 219);
  font-size: 30px;
}

.post-form-text {
  margin-left: 20px;
  justify-content: left;
  color: rgb(219, 219, 219);
  font-size: 30px;
}

.group {
  padding: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: 282c34;
}

.group-post {
  padding: 10px 50px 0px 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: 282c34;
}

.group-feed {
  padding: 10px 50px 0px 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: 282c34;
}

.form-struct {
  justify-content: center;
}

.form-struct-post {
  justify-content: left;
}

.link-header{
  justify-self: left;
  font-size:15px;
  height:50px;
  border-width:1px;
  color:#ffffff;
  border-color:#3e7fbd;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #5084b6;
  text-shadow:inset 0px 1px 0px #2c5e8d;
  background:linear-gradient(#3e7fbd, #316a9e);
  max-width: 96%;
}

.submit-button{
  font-size: 10px;
  left: 0;
  height:30px;
  border-width:1px;
  color:#ffffff;
  border-color:#3e7fbd;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #5084b6;
  text-shadow:inset 0px 1px 0px #2c5e8d;
  background:linear-gradient(#3e7fbd, #316a9e);
  max-width: 20%;
}

.make-a-post{
  margin: 10px;
  justify-self: left;
  font-size:15px;
  height:50px;
  border-width:1px;
  color:#ffffff;
  border-color:#3e7fbd;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #5084b6;
  text-shadow:inset 0px 1px 0px #2c5e8d;
  background:linear-gradient(#3e7fbd, #316a9e);
  max-width: 96%;

}

.group-box {
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  width: 40%;
  min-height: 590px;
  max-height: 590px;
  padding: 20px;
  background-color: rgb(60, 63, 73);
}

.group-box-login {
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  width: 40%;
  min-height: 380px;
  max-height: 380px;
  padding: 20px;
  background-color: rgb(60, 63, 73);
}

.group-box-post {
  justify-content: left;
  overflow: hidden;
  min-width: 300px;
  width: 80%;
  padding: 10px 10px 10px 10px;
  background-color: rgb(60, 63, 73);
}

.group-box-feed-post {
  justify-content: left;
  overflow: hidden;
  min-width: 300px;
  width: 80%;
  padding: 10px 10px 10px 10px;
  background-color: rgb(60, 63, 73);
}

.Post-text {
  font-size: 15px;
  color: rgb(184, 184, 184);
  word-break: break-all;
  text-decoration: none;
  background-color:rgb(60, 63, 73)23; 
}

.Post-text-name {
  font-size: 15px;
  color: rgb(255, 255, 255);
  word-break: break-all;
  text-decoration: none;
  background-color:rgb(60, 63, 73)23; 
}

.Post-text-date {
  font-size: 15px;
  color: rgb(136, 136, 136);
  word-break: break-all;
  text-decoration: none;
  background-color:rgb(60, 63, 73)23; 
}

.group-box-post-loggedout {
  padding: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: rgb(60, 63, 73);
}

.form-input {
  justify-content: center;
  background: none;
  color: rgb(219, 219, 219);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
}

.form-input-label {
  background-color: rgb(34, 34, 34);
  color: rgb(219, 219, 219);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  border: none;
  border-radius: 4px;
  border-top: 1px solid rgb(43, 43, 43);
}

.form-post-input-label {
  align-items: top;
  background-color: rgb(34, 34, 34);
  color: rgb(219, 219, 219);
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  resize: none;
  height: 100px;
  border: none;
  border-radius: 4px;
  border-top: 1px solid rgb(43, 43, 43);
}

.text-warning {
  color: rgb(184, 35, 35);
  font-size: 18px;
  padding: 0px 0px 0px 15px;
  width: 100%;
}